{{#if babbleReady}}
  <div class="babble-floating-toggle-container">
    <div class="babble-floating-toggle">
      <span>
        {{i18n 'babble.nav_title'}}
      </span>

      <div class="babble-floating-toggle-unread">
        1
      </div>
    </div>
  </div>
{{/if}}
