$default-chat-width: 360px;
$chat-border-color: #f1f3f9;
$chat-post-background-color: #f1f3f9;
$chat-post-actions-trigger-color: #4f4e5b;
$chat-post-author-color: #87878f;

#babble-icon-unread {
  i {
    color: $danger;
  }
}

#babble-file-input {
  display: none;
}

.babble-sidebar {
  background: $secondary;
  bottom: 0;
  box-shadow: 0 2px 2px $primary;
  height: calc(100% - 131px);
  margin-top: 64px;
  max-width: 100%;
  min-width: $default-chat-width;
  overflow: auto;
  position: fixed;
  resize: horizontal;
  width: $default-chat-width;
  z-index: z("header") + 1;

  &.expanded {
    width: 100% !important;
  }

  &.mobile {
    margin-top: 0 !important;
    height: 100vh !important;
    z-index: 1000;
  }

  &--right {
    right: 0;
  }

  &--left {
    left: 0;
  }

  .btn:hover {
    color: #222;
  }

  .normalized {
    padding: 0 10px;
    border: none;
    background: none;
  }

  .babble-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .babble-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .babble-post-composer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .spinner-container {
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;

    .spinner {
      margin: 0;
      width: 16px;
      height: 16px;
    }
  }
}

.babble-list {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px;
}

.babble-title-wrapper {
  padding: 16px 0;
  border-bottom: 1px solid $chat-border-color;
}

.babble-title h4 {
  flex-grow: 1;
  font-size: 18px;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.d-header .icons .babble-title [class^="fa fa-"] {
  font-size: 15px;
}

.babble-context-toggle {
  position: relative;
  outline: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  z-index: 1;
}

/* Post styles */
.babble-posts {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.babble-post {
  list-style-type: none;
}

.babble-staged-post {
  opacity: 0.4;
}

.babble-load-more {
  text-align: center;
  border-bottom: 1px solid $primary;
  margin-bottom: 10px;
}

.babble-post-hr-message {
  border-bottom: 1px solid $chat-border-color;
  position: relative;
  bottom: 5px;
  margin: 10px 0;
  width: 100%;
  text-align: center;

  > button {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: 15px;
    padding: 4px 8px;
  }

  > span {
    background: $secondary;
    color: $chat-post-author-color;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    padding: 0 10px;
    position: relative;
    top: 10px;
  }
}

.babble-empty-topic-message {
  text-align: center;
  padding: 25% 0;
}

.babble-avatar-wrapper {
  min-width: 40px;

  img {
    width: 32px;
    cursor: pointer;
  }
}

.babble-post-container {
  margin: 8px 0;
  position: relative;
  display: flex;

  &:hover {
    .babble-post-actions.closed {
      visibility: visible;
    }
  }

  &.babble-follow-on {
    margin: 4px 0;

    .babble-post-cooked {
      margin: 0;
    }

    .babble-post-meta-data {
      position: absolute;
      top: 5px;
      right: 0;
      margin-top: -4px;
      order: 2;
    }

    .babble-post-actions {
      &.closed {
        top: 0px;
      }
    }
  }

  .babble-post-date {
    color: $chat-post-author-color;
    flex-grow: 1;
    text-align: right;
  }

  .babble-post-explainer {
    font-size: 13px;
    flex-grow: 1;
  }

  .babble-post-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    a.mention {
      display: inline;
      padding: 0;
    }

    p {
      margin: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .babble-post-content {
    background: $chat-post-background-color;
    border-radius: 3px;
    padding: 15px 10px;
  }

  .babble-post-meta-data {
    min-height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .babble-post-cooked {
    word-break: break-word;
  }

  .babble-post-name {
    .names span.first a {
      font-weight: normal;
      color: $chat-post-author-color;
    }
  }

  .babble-post-actions {
    &.closed {
      visibility: hidden;
      position: absolute;
      top: 26px;
      right: 0;
      border: 0;
      display: flex;
      padding: 0;
      z-index: 10;

      .widget-link {
        padding: 4px 8px;
        color: $chat-post-actions-trigger-color;
        transition: none;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    &.opened {
      position: absolute;
      top: 0;
      right: 1px;
      opacity: 1;
      z-index: 11;
      border-radius: 2px;
      font-size: 15px;
      background: white;
      box-shadow: 0 1px 2px #666;

      &.last-post {
        bottom: 0;
        top: auto;
      }

      .widget-link {
        display: flex;
        align-items: center;
        color: $primary;
        transition: none;
        padding: 10px 15px;

        &:hover {
          background: $chat-border-color;
        }

        i {
          margin-right: 8px;
        }
      }
    }
  }
}

.babble-post-current-user {
  .babble-post-content {
    color: white;
    background: linear-gradient(46deg, #4c59b5 0%, #7d3bcb 70%, #b558e9 100%);
  }

  .babble-post-actions.closed {
    .widget-link {
      color: white;
    }
  }
}

.babble-deleted-post {
  font-style: italic;
}

.babble-post-user-deleted {
  .babble-post-avatar,
  .babble-post-body,
  .post-date,
  .babble-post-actions button {
    opacity: 0.5;
  }

  .cooked {
    font-size: 11px;
  }
}

.babble-post-staff-deleted {
  display: none;
}

.babble-post-content .post-info {
  width: 26px;
  text-align: right;
}

/* Available topic styles */
.babble-available-topics {
  padding: 10px;
  margin: 0;
  list-style-type: none;

  a {
    color: #4f4e5b;
  }
}

.babble-available-topic {
  border-radius: 3px;
  border: 1px solid $chat-border-color;
  box-shadow: 0 1px 2px 0 $chat-border-color;
  cursor: pointer;
  font-weight: bold;
  margin: 0px 0px 10px;
  position: relative;

  a.widget-link {
    display: block;
    padding: 20px 15px;
  }
}

.babble-typing {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  min-height: 14px;
  padding: 5px 8px;
}

.babble-whos-online {
  float: right;
}

/* Composer styles */
.babble-composer-wrapper {
  position: relative;
  flex-direction: row;
  display: flex;
}

.babble-post-composer {
  background: linear-gradient(46deg, #4c59b5 0%, #7d3bcb 70%, #b558e9 100%);
  border-radius: 1px;
  text-align: center;
  width: 100%;
  padding: 15px 5px 15px 10px;

  .widget-button {
    margin: 5px;
    padding: 5px 7px;
  }

  textarea {
    border-radius: 3px;
    border: none;
    flex-grow: 1;
    margin: 0;
    min-height: 30px;
    padding: 8px 12px;
    resize: none;
    width: 100%;
  }

  .autocomplete {
    left: 15% !important;
    width: 70%;
    text-align: left;

    span.username {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 60%;
    }

    span.name {
      float: right;
      width: inherit !important;
      max-width: 28%;
    }
  }

  .babble-composer-actions {
    display: flex;
    flex-direction: column;
  }

  .babble-composer-action {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;

    &:hover {
      opacity: 0.8;
      color: white;
    }
  }
}

.babble-no-one-is-typing {
  min-height: 15px;
}

.babble-is-typing {
  text-align: right;
  font-size: 12px;
  margin-right: 10px;

  a.trigger-user-card img {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
}

.babble-menu .panel-body-contents {
  height: 100%;
}

/* Admin styles */
.babble-admin-disabled {
  font-weight: bold;
  text-align: center;
}

li.babble-chat.drop-container {
  margin: 0;
  display: inline-block;
  position: relative;
  .badge-category {
    padding: 6px 12px;
    width: 150px;
    display: inline-block;
    line-height: 18px;
  }
  .badge-category.category-dropdown-button {
    margin-left: -4px;
    padding: 6px 7px 6px 0;
    width: 6px;
  }
  .category-dropdown-menu {
    border: none;
    background: dark-light-diff($primary, $secondary, 90%, -65%);
    width: 100%;
    position: absolute;
    z-index: 3000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    .cat {
      width: 100%;
    }
    .cat:first-of-type {
      display: none;
    }
    .cat:hover {
      background-color: dark-light-diff($primary, $secondary, 90%, -65%);
    }
    .badge-wrapper {
      display: block;
    }
  }
}

/* Floating Toggle */
.babble-floating-toggle-container {
  background: white;
  border: 1px solid $chat-border-color;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 320px;
  position: fixed;
  z-index: z("base") + 1;
  box-shadow: 0 -1px 3px #f1f3f9;

  &.left {
    right: auto;
    left: 0;
  }

  &::after {
    @include rainbow-border;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
  }

  .babble-floating-toggle {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 12px 10px;

    &::before {
      color: #c4c7d1;
      content: "\E00B";
      display: inline-block;
      font-family: "Icons";
      font-size: 20px;
      font-weight: normal;
      margin: 0 10px;
      position: relative;
    }
  }

  .babble-floating-toggle-unread {
    background: #5156b3;
    border-radius: 50%;
    color: white;
    display: none;
    height: 25px;
    line-height: 25px;
    margin: 0 10px 0 auto;
    text-align: center;
    width: 25px;

    .babble-unread & {
      display: block;
    }
  }
}

@media (max-width: 700px) {
  .babble-available-topic {
    a.widget-link {
      padding: 10px 20px;
    }
  }
}

@media (max-width: grid("mobile-max-width")) {
  .babble-sidebar {
    height: calc(100% - 65px);
  }
}

@media (min-width: 700px) and (max-width: 1500px) {
  #main-outlet {
    &.chat-active--left {
      margin-left: $default-chat-width;
    }
    &.chat-active--right {
      margin-right: $default-chat-width;
    }
  }
}

@media (max-width: 700px) {
  .babble-context-toggle {
    line-height: 35px;
  }
}
